@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-4xl: 23px;
  --font-size-5xl: 24px;
  --font-size-mid: 17px;
  --font-size-sm: 14px;
  --font-size-11xl: 30px;
  --font-size-102xl: 121px;
  --font-size-42xl: 61px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-black: #000;
  --color-gray-100: #232229;
  --color-gray-200: #161618;
  --color-white: #fff;
  --color-mediumblue-100: #6723f5;
  --color-mediumblue-200: #6525f2;

  /* Gaps */
  --gap-15xl: 34px;
  --gap-78xl: 97px;
  --gap-7xs: 6px;
  --gap-76xl: 95px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-42xl: 61px;
  --padding-32xl: 51px;
  --padding-65xl: 84px;
  --padding-62xl: 81px;
  --padding-sm: 14px;
  --padding-99xl: 120px;
  --padding-11xs: 2px;
  --padding-4xs-1: 8.1px;

  /* border radiuses */
  --br-19xl: 38px;
  --br-5xl: 24px;
  --br-2xs: 11px;
  --br-5xs: 8px;
  --br-xl: 20px;
}